.button{
  color: #0f1419;
  border: 1px solid #cfd9de;
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;

}