body{
  background-color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-size: 20px;
  text-align: right;
  margin-top: 10px;
}
/*This is how you write comment in CSS*/ 