
.main{
    margin-top: 100px;
    /*text-align: center;  This is the simple way to align buttons to center or in line elements */
}



.searchbox{
    width: 400px;
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.googleimage{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    
}

.wrapbutton{
    display: flex;
    justify-content: center;
}
.button{

  
    background-color: #dfe1ef;
    border: none;
    padding: 10px;
    padding-left:18px ;
    padding-right:18px ;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    
}